#Canvas {
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    background-image: url("../images/gameBackground.jpg");
    background-size: 100% 100%;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}
